.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-gap: 22px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width <= 1320px) {
  .cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

@media (width <= 600px) {
  .cards > ul {
    grid-template-columns: unset;
  }
}

/* category */
.cards.category ul li {
  position: relative;
  overflow: hidden;
  border: none;
}

.cards.category .cards-card-body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 67%;
  background: white;
  margin: 0;
  padding: 2rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #fff;
  background-color: #154898;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cards.category .cards-card-body p:first-of-type {
  font-size: 32px;
}

.cards.category .cards-card-body p:nth-child(2) {
  font-size: 20px;
  display: none;
}

.cards.category ul li:hover .cards-card-body {
  top: 0;
}

.cards.category ul li:hover .cards-card-body p:nth-child(2) {
  display: block;
}

.cards.category .cards-card-image img {
  max-height: 470px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: unset;
}

.cards.category .cards-card-body .button-container  {
  margin-top: auto;
  margin-bottom: 0;
}

.cards.category .cards-card-body .button-container a {
  margin: 0;
  padding: 0;
  border: none;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  color: inherit;
  border-radius: 0;
}

.cards.category .cards-card-body .button-container a:hover {
  background-color: transparent;
}

.cards.category .cards-card-body .button-container a::after {
  display: none;
}

@media (width <= 1320px) {
  .cards.category .cards-card-body p:first-of-type {
    font-size: 24px;
    font-size: 20px;
    line-height: normal;
  }
}

@media (width <= 600px) {
  .cards.category .cards-card-body {
    top: 75%;
  }
}

/* article */
.cards.article > ul > li  {
  border: none;
}

.cards.article > ul > li > a  {
  position: relative;
  background-color: var(--background-color);
  aspect-ratio: 1;
  display: block;
}

.cards.article .cards-card-body {
  color: white;
  position: absolute;
  inset: 0;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
}

.cards.article .cards-card-body p:first-of-type {
  font-family: var(--body-font-family);
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.cards.article .cards-card-body p:nth-child(2) {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 8px;
}

.cards.article .cards-card-body p.button-container {
  margin-top: auto;
  margin-bottom: 0;
}

.cards.article .cards-card-body p.button-container a {
  margin: 0;
  font-size: 16px;
  border-radius: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
}

.cards.article a:hover p.button-container a {
  text-decoration: underline;
}

.cards.article .cards-card-body p.button-container a::after {
  display: none;
}

.cards.article .cards-card-image {
  line-height: 0;
}

.cards.article .cards-card-image::before {
  content: "";
  background-color: rgb(9 15 48 / 60%);
  position: absolute;
  inset: 0;
}

.cards.article > ul > li img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: unset;
}

@media (width >= 1024px) {
  .cards.article .cards-card-body h2 {
    font-size: 20px;
  }

  .cards .cards-card-body {
    padding: 69px 36px;
  }
  
  .cards .cards-card-body p {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
}